streamlit          # For the frontend
pandas             # For managing the CSV tracker
python-docx        # For handling Word document templates
pathlib            # For file management
openai             # For context generation
nltk               # For natural language processing before context generation
selenium           # For bypassing web scraping